/* Component: VersionInfo: small screen size.

Description...
*/

.cpnt-version-info {

  color: $color-fluro;
  display: block;
  font-size: rem(10);
  left: calc(50% + 30px);
  position: absolute;
  top: 11px;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 40px;
  z-index: 100;

}
