/* Component: Loading: small screen size.

Description...
*/

.cpnt-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1;
  background: grey(84);
  color: $color-fluro;
}
