/* Component: LoadingStatus: small screen size.

If you're reading this, the dev who generated this component was too lazy
to replace it with a component description :)
*/

.cpnt-loading-status {

  transition: background 500ms ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-start;
  z-index: -1;
  background: RGBA(255, 255, 255, 0);

  &.is-loading {
    background: RGBA(255, 255, 255, 0.75);
    z-index: 1;
  }
}
