/* Component: FullHero: small screen size.

If you're reading this, the dev who generated this component was too lazy
to replace it with a component description :)
*/

.cpnt-full-hero {
  background: #333;
  width: 100vw;
  height: 100vh;
}
