/* Component: ContentImageCurtains: small screen size.

Description...
*/
.cpnt-content-image-curtains {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  .curtain {
    transition: transform 50ms linear;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: $color-off-white;

    &.-top {}

    &.-right {
      right: 0;
    }

    &.-bottom {}

    &.-left {
      left: 0;
    }
  }

  &.-grid-edge {
    .curtain {
      width: calc(16.66667% - 23.33333px + 40px);
    }
  }

  &.is-in-view {
    .curtain {
      &.-left {
        transform: translate3d(-100%, 0, 0);
      }

      &.-right {
        transform: translate3d(100%, 0, 0);
      }
    }
  }
}
