/* Component: ContentImageCurtains: small screen size.

Description...
*/

.cpnt-content-image-curtains {
  @include grid-collapse;
  position: relative;
  overflow: hidden;

 .curtain {
   transition: transform 20ms linear;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   background: $color-off-white;

   &.-top {
    //   top: 0;
    //   left: 0;
    //   right: 0;
   }
   &.-right {
      right: 0;
      // left: inherit;
   }
   &.-bottom {
    // bottom: 0;
   }

   &.-left {
      left: 0;
    //   width: 300px;
   }

 }


 &.-grid-edge {
   .curtain {
    width: calc(16.66667% - 23.33333px + 40px);
   }
 }
}
