/* Component: ReaderContent: small screen size.

Description...
*/

// .page-nav-active .cpnt-reader-content {
//   filter: blur(10px);
//   transform: scale(0.8);
//   transform-origin: top center;
// }

.cpnt-reader-content {
  padding-bottom: 170px;

  h1:first-child,
  h2:first-child {
    font-size: rem(100);
    color: grey(94);
    position: relative;

    // &:before {
    //   mix-blend-mode: exclusion;
    // }
  }

  h1,
  h2 {
    position: relative;
    font-weight: 200;
    text-transform: uppercase;
    word-wrap: break-word;

    strong,
    b {
      font-weight: 600;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) rotate(-45deg);
      width: 2em;
      height: 1em;
      background: grey(251, 0.8);
      border: solid 6px grey(251);
    }
  }

  a {
    color: $color-blue;
    transition: color 300ms ease;

    &:hover {
      color: $color-blue-fade;
    }
  }

  p {
    font-size: rem(20);
    line-height: rem(28);
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .-wide-cols {
    @include grid-column(12);
    @include grid-shift(0);
    column-count: 2;
    column-gap: 40px;
    text-align: justify;
  }

  &.animate {
    animation-name: reader-intro;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes reader-intro {
    0% {
      filter: blur(20px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 1;
    }
  }

}
