/* Component: NavOverlay: small screen size.

Description...
*/

.cpnt-nav-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background-color 300ms $water-kick;

  // .navi

  &.is-stashed {
    // display: none;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;

    > *:not(.cpnt-trigger-arrow) {
      display: none;
    }

  }


  .initial-opt {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 50%;
    color: rgba(216,216,216,.95);
    cursor: pointer;

    h2 {
      font-size: rem(42);
      position: absolute;
      line-height: 2;
      text-align: center;
      width: calc(100vh / 1.5);
      cursor: pointer;
      opacity: 0;
      animation-duration: 2500ms;
      animation-fill-mode: forwards;
      animation-timing-function: $water-kick;
      color: RGBA(216,216,216,0);

      &:before {
        content: '';
        height: 1px;
        width: 100%;
        background: $color-fluro;
        position: absolute;
        right: 80%;
        top: 50%;
      }
    }


    &.left {
      left: 0;

      h2 {
        right: 0;
        transform-origin: bottom right;
        transform: rotate(-90deg) translate3d(-50%, 0, 0);
        animation-name: nav-overlay-intro-up;
      }
    }


    &.right {
      right: 0;

      h2 {
        left: 0;
        transform-origin: bottom left;
        transform: rotate(90deg) translate3d(-50%, 0, 0);
        animation-name: nav-overlay-intro-down;
      }
    }


    &:hover {
      h2 {
        color: rgba(225,225,225,.9);
      }
    }
  }


  small {
    font-size: rem(22);
  }



  > .cpnt-grip {
    width: 24px;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }


}


@keyframes nav-overlay-intro-up {
  0% {
    color: transparent;
    opacity: 0;
    transform: rotate(-90deg) translate3d(-50%, 0, 0);
  }
  20% {
    color: rgba(216,216,216,.25);
  }
  100% {
    color: rgba(216,216,216,.75);
    opacity: 1;
    transform: rotate(-90deg) translate3d(30%, 0, 0);
  }
}

@keyframes nav-overlay-intro-down {
  0% {
    color: transparent;
    opacity: 0;
    transform: rotate(90deg) translate3d(-50%, 0, 0);
  }
  20% {
    color: rgba(216,216,216,.25);
  }
  100% {
    color: rgba(216,216,216,.75);
    opacity: 1;
    transform: rotate(90deg) translate3d(30%, 0, 0);
  }
}
