/* Component: NavOverlay: small screen size.

Description...
*/

.cpnt-nav-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  &.is-stashed {
    // display: none;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;

    > *:not(.cpnt-trigger-arrow) {
      display: none;
    }

  }


  .initial-opt {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    color: rgba(216,216,216,.65);

    h2 {
      font-size: rem(42);
      position: absolute;
      line-height: 2;
      text-align: center;
      width: calc(100vh / 1.5);
      cursor: pointer;

      &:before {
        content: '';
        height: 1px;
        width: 100%;
        background: $color-fluro;
        position: absolute;
        right: 80%;
        top: 50%;
      }
    }


    &.left {
      left: 0;

      h2 {
        right: 0;
        transform-origin: bottom right;
        transform: rotate(-90deg);
      }
    }


    &.right {
      right: 0;

      h2 {
        left: 0;
        transform-origin: bottom left;
        transform: rotate(90deg);
      }
    }
  }


  small {
    font-size: rem(22);
  }



  > .cpnt-grip {
    width: 24px;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }


}
