

$color-white: rgba(255, 255, 255, 1);
$color-fluro: rgba(238, 255, 0, 1);
$color-black: rgba(10, 10, 10, 1);


.-white {
  color: $color-white;
}

.-fluro {
  color: $color-fluro;
}

.-black {
  color: $color-black;
}
