

//Bourbon-Neat overrides

$max-width: 1920px !default;
$neat-grid: (
  columns: 18,
  gutter: 20px,
);


.grid-row {
  @include grid-container;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
