
html {
  font-family: 'Inconsolata', sans-serif;
  color: grey(68);
}

body {
  line-height: 1.45;
}



//http://type-scale.com/?size=16&scale=1.618&text=A%20Visual%20Type%20Scale&webfont=Inconsolata&font-family=Inconsolata&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 .5em;
  line-height: 1.2;
  font-family: $font-akrobat;
}
h1 {
  font-size: 6.854rem;
}
h2 {
  font-size: 4.236rem;
}
h3 {
  font-size: 2.618rem;
}
h4 {
  font-size: 1.618rem;
}
p {
  margin-bottom: 1.3rem;
}
a {
  color: $color-fluro;
  text-decoration: none;
}
small,
._small {
  font-size: .618em;
}



/**
 * Font Weights
 */
._weight-xlight {
  font-weight: 100;
}
._weight-light {
  font-weight: 200;
}
._weight-normal {
  font-weight: 500;
}
._weight-bold {
  font-weight: 600;
}
._weight-black {
  font-weight: 700;
}




._akrobat,
._display-font {
  font-family: $font-akrobat;
}






::selection {
  background: $color-fluro;
  color: $color-black;
}
._selection-transparent {
  &::selection {
    background: transparent;
    color: inherit;
  }
}
._selection-grey {
  &::selection {
    background: transparent;
    color: grey(50);
  }
}
