/* Component: ContentImageWCaption: small screen size.

Description...
*/

.cpnt-content-image-w-caption {

  .cpnt-reader-content & {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 60px 0;
  }

  .img-wrap {
    position: relative;
    z-index: 1;
    flex: 1 0 0;
    // flex-basis: 100%;
    padding: 0 30px;
  }

  .text-wrap {
    position: relative;
    text-align: left;
    z-index: 0;
    padding: 20px;
    margin-right: 5%;
  }

  &.is-alive {
    .text-wrap {
      transition: transform 1500ms $airlift;
      transform: translate3d(-30px, 0, 0);
    }
  }

  &.is-in-view {
    .text-wrap {
      transform: translate3d(0, 0, 0);
    }
  }


  /////  /////  /////  /////  /////  /////  /////  /////  /////  /////  /////


  &.-right {
    flex-direction: row-reverse;

    .text-wrap {
      text-align: right;
      margin-right: 0;
      margin-left: 5%;
    }
  }

}
