/* Component: NavigationSection: small screen size.

If you're reading this, the dev who generated this component was too lazy
to replace it with a component description :)
*/

.cpnt-nav-section {


  .inner {
    position: fixed;
    background: rgba(32,32,32,.84);
    top: 0;
    bottom: 0;
    width: calc(50% + 15px);
    // width: calc(50% - 75px);
    overflow: hidden;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .nav-list {
    list-style-type: none;
    font-size: rem(20);
    line-height: rem(80);
    position: relative;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
  }

  li {
    position: relative;
  }

  a {
    color: rgba(74, 74, 74, 1);
    position: relative;
  }

  li:hover {
    a {
      &::before {
        content: '';
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -10px;
        right: -10px;
        background-color: $color-fluro;
        z-index: -1;
      }
    }
  }

}
