/* Component: Hero: small screen size.

Description...
*/

.page-nav-active .cpnt-hero {
  filter: blur(4px);
  transform: scale(1.1);
}

.cpnt-hero {
  transition: filter 200ms linear, transform 200ms linear;
  background: $color-black;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  z-index: -1;
  overflow: hidden;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $color-white;
    background-blend-mode: overlay;
    mix-blend-mode: overlay;
    content: '';
  }

  h1 {
    color: $color-blue;
    text-transform: uppercase;
    font-weight: 100;
    font-size: rem( 100 );
    line-height: rem( 90 );
    margin: auto;
    z-index: 10;
    word-break: break-word;
    mix-blend-mode: overlay;

    strong {
      font-weight: 600;
    }
  }

  .subtitle {
    font-size: rem(80);
    font-weight: 500;
  }

  video,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  &.-darken-40 {
    &::after {
      content: '';
      background: RGBA(0, 0, 0, 0.4);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      position: absolute;
    }
  }


  //
  // &.hero-enter {
  //   filter: blur(6px);
  //   transform: scale(1.1);
  // }
  //
  // &.hero-enter.hero-enter-active {
  //   filter: blur(0);
  //   // transform: scale(1);
  //   transition-duration: 500ms;
  // }
  //
  // &.hero-leave {
  //   filter: blur(0);
  //   transform: scale(1);
  // }
  //
  // &.hero-leave.hero-leave-active {
  //   filter: blur(6px);
  //   // transform: scale(1.1);
  //   transition-duration: 300ms;
  // }


  &.is-loaded {
    animation-name: reader-appear;
    animation-duration: 1200ms;
    animation-fill-mode: forwards;
    animation-timing-function: $soft-landing;
  }

}

@keyframes reader-appear {
  0% {
    // opacity: 0;
    transform: translate3d(0, 20%, 0);// scale(1.5);
  }
  100% {
    // opacity: 1;
    transform: translate3d(0, 0, 0);// scale(1);
  }
}
