/* Component: Hero: small screen size.

Description...
*/


.page-nav-active .cpnt-hero {
  // filter: blur(6px);
  // transform: scale(1.1);
}

.cpnt-hero {
  transition: filter 1500ms linear, transform 1500ms linear;

  background: $color-black;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  z-index: -1;

  h1 {
    color: $color-fluro;
    text-transform: uppercase;
    font-weight: 100;
    font-size: rem( 90 );
    line-height: rem( 90 );
    margin: auto;
    z-index: 10;

    strong {
      font-weight: 500;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  &.-darken-40 {
    &::after {
      content: '';
      background: RGBA(0, 0, 0, 0.4);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      position: absolute;
    }
  }



  &.hero-enter {
    // filter: blur(6px);
    // transform: scale(1.1);
  }

  &.hero-enter.hero-enter-active {
    // filter: blur(0);
    // // transform: scale(1);
    // transition-duration: 500ms;
  }

  &.hero-leave {
    // filter: blur(0);
    // transform: scale(1);
  }

  &.hero-leave.hero-leave-active {
    // filter: blur(6px);
    // // transform: scale(1.1);
    // transition-duration: 300ms;
  }

}
